%h1 About
%p
	This website demonstrates Ruby on Rail with AngularJS framework.
%h2 Features
%ul
	%li Ruby on Rails
	%li Angular
	%li Test Driven Development (TDD))
%p
	The source code is on github
	%a{href: "https://github.com/htanny7/clockwize"}
		https://github.com/htanny7/clockwize
